body {
	font-family: "Roboto", "Segoe UI", sans-serif;
	color: #fff;
	background-color: #000;
	margin-right: 200px;
}

a {
	color: #fff;
	text-decoration: underline;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

a:visited {
	color: #fff;
}

a:hover {
	color: #33b5e5;
}

#user-info {
	font-family: "Roboto Condensed", "Segoe UI", sans-serif;
	text-align: right;
}

#sidebar {
	position: fixed;
	right: 0;
	top: 0px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;	
	margin-top: 10px;
	width: 300px;
	word-wrap: break-word;
	z-index: 1;
}

#period-name {
	position: fixed;
	top: 10px;
	font-family: "Roboto";
	font-weight: 100;
	font-size: 100px;
	text-align: center;
	width: 100%;
}

#in {
	position: fixed;
	top: 155px;
	font-family: "Roboto Condensed";
	font-size: 20px;
	text-align:center;
	width: 100%;
}

#faq-link {
	font-size: 30px;
	position: fixed;
	left: 5px;
	bottom: 5px;
}


#countdown {
	position: fixed;
	top: 200px;
	font-family: "Roboto";
	font-weight: 100;
	font-size: 100px;
	text-align: center;
	width: 100%;
}

.slideout {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	height: 98%;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	padding: 10px;
	position: fixed;
	border-collapse: separate;
	top: 1%;
	margin-bottom: 1%;
	width: 40%;
	z-index: 2;
	overflow: auto;
}

.slideout.expanded {
	-webkit-box-shadow: 5px 5px 20px 5px #bebebe;
	box-shadow: 5px 5px 20px 5px #bebebe;
}

#slideout-left {
	left: -40%;
}

#slideout-left.expanded {
	left: 0;
	background-color: rgba(0,0,0,0.5);
}

#slideout-left-arrow {
	top: 75%;
	left: 0;
	border-left-color: white;
}

#slideout-left-arrow.expanded {
	border-right-color: white;
	border-left-color: transparent;
}

#slideout-right {
	right: -40%;
}

#slideout-right.expanded {
	right: 0%;
	background-color: rgba(0,0,0,0.5);
}

#slideout-right-arrow {
	top: 75%;
	right: 0;
	border-right-color: white;
}

#slideout-right-arrow.expanded {
	border-right-color: transparent;
	border-left-color: white;
}

.arrow {
	height: 0;
	width: 0;
	border: 50px solid transparent;
	opacity: 0.25;
	position: fixed;
	z-index: 3;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	cursor: pointer;
}
.arrow:hover {
	opacity: 1;
}

.left-table {
	font-size: 30px;
}

.big {
	font-size: 60px;
	font-family: "Roboto";
	font-weight: 100;
}

.sidebar-name {
	text-align: right;
	padding-left: 10px;
}

.sidebar-room {
	text-align: left;
	padding-right: 10px;
}

.floater {
	float: left;
	height: 50%;
	margin-bottom: -120px;
}

.content {
	clear: both;
	height: 25%;
	position: relative;
}

a.fake-button {
	text-decoration: none;
	background-color: #33B5E5;
	padding: 10px;
	text-align: center;
	margin-top: 10px;

}
a.fake-button:hover {
	color: #fff;
	background-color: #0099cc;
}

.right-table {
	font-size: 20px;
}

.bell-desc {
	text-align: left;
	padding-right: 5px;
}

.bell-time {
	text-align: right;
	padding-left: 20px;
	border-left: 1px solid white;
}

tr:not(:last-child) > td { 
	border-bottom: 1px solid white; 
}

#nojs {
	color: #FF4444;
	width: 100%;
	text-align: center;
	position: fixed;
	font-size: 22px;
}
