.arrow {
	border: 10px solid transparent;
}


.nomobile {
	display: none;
}

#sidebar {
}

.big {
	font-size: 30px;
	font-weight: initial;
	font-family: "Roboto Slab";
}


.left-table {
	font-size: 20px;
}

h1 {
	font-family: "Roboto Slab";
	font-weight: initial;
	font-size: 30px;
}

.day {
	font-size: 30px;
}

.big-number {
	font-size: 35px;
}

.name {
	width: auto;
	min-width: 100px;
	padding-right: 10px;
}
.room {
	width: auto;
	min-width: 50px;
	margin-left: 10px;
}

#tue-a {
	left: 175%;
}

td > input {
	position: relative;
	width: 100%;
	min-width: 50px;
	font-size: inherit;
	margin: 0;
}

#feedback {
	font-size: 20px;
}

#faq-link {
	font-size: 20px;
}

.for {
	width: 100px;
	padding: 2px;
	margin: 0;
	font-size: 15px;
}

.notice-title {
	font-size: 20px;
}

.title {
	font-size: 20px;
}

.content {
	font-size: 15px;
}

.author {
	font-size: 15px;
}

#slideout-top.expanded {
	top: 0;
	bottom: 0;
	height: auto;
	left: 0;
	right: 0;
	width: auto;
}

#slideout-top-arrow {
	margin-left: 10%;
}

.info {
	padding-top: 50px;
}

input {
	min-width: 50px !important;
	max-width: 100px;
	font-size: 20px !important;
}
.room {
	max-width: 50px;
}

#timetable-h1 {
	margin-top: 50px;
}

#mon-a {
	left: 15%;
}

#swipe-info {
	bottom: 30px;
}

.timetable.arrow {
	top: 90% !important;
}
#day-select {
	bottom: 5px;
	font-size: 15px;
	top: auto;
	left: 50%;
	margin-left: -60px;
}
